<div id="sidebar">
	<div id="rss"><a href="{{ blog.feedurl }}"><span id="rss-pic"></span></a></div>
	{% include "search.html" %}
	<ul id="sidebarul">

		<li>
			<h2>公告栏</h2>
			<p>
				{{blog.blognotice}}
			</p>
		</li>
		<li>


			<ul>
				<div id="buzzwidget">
<script type="text/javascript" language="javascript" src="http://www.buzzcounter.net/widget/alexliyu2012?background=ffffff&buzzbackground=ffffff&text=333333&smalltext=c0c0c0&link=17375e"></script><script type="text/javascript">$.Widget.get();</script><div id="buzzwidget-footer"></div></div>
<script type="text/javascript">$.Widget.set();</script>

			</ul>

		</li>
		<li>
			<h2>图片分类</h2>
			{% if categories %}
			<ul class="side-cat" >
				{%for cate in categories%}
  <li>	<a href="/album/tag/{{cate}}">{{cate}}</a></li>
 	{%endfor%}
			</ul>
			{% endif %}
			<div class="clear"></div>
		</li>
		<li>
			<h2>最新图片</h2>
			{% if latestphoto %}
			<ul>
				{%for photo in latestphoto%}
<li><a href="{{photo.Link_url}}">{{photo.name}}</a></li>
{%endfor%}
			</ul>
			{% endif %}
		</li>

		<li>
			<h2>最新评论</h2>
			{% if topcomments %}
			<ul>
				{%for photo in topcomments%}
<li><a href="{{photo.Link_url}}"><img src="{{photo.PhotoUrl_c}}" style="float:left;" alt="{{photo.name}}"/></a></li>
<br class="clear"/>
{%endfor%}
			</ul>
			{% endif %}
		</li>

		<li>
			<h2>热门图片</h2>
			{% if topviews %}
			<ul>
				{%for photo in topviews%}
<li><a href="{{photo.Link_url}}">{{photo.name}}</a></li>
{%endfor%}
			</ul>
			{% endif %}
		</li>
        <li>
        	<h2>我的Lifestream</h2>
        <ul>
       <link href="http://lifestream.fm/css/badges/default.css" rel="stylesheet" type="text/css" />
<script src="http://lifestream.fm/badges/byuser/alexliyu/default/FFFFFF/006699/333333/15" type="text/javascript"></script>

		</ul>
        </li>
		<li>
			<h2>快捷链接</h2>
			<ul id="langpref">
				<li>管理操作</li>
			</ul>
		</li>

		<li>
			<ul>
				<li><a rel="external nofollow" id="feedrss" title="订阅这个博客的文章" href="{{ blog.feedurl }}"><abbr title="Really Simple Syndication">RSS</abbr> 订阅</a></li>
				<li><a rel="external nofollow" id="feedrsscomments" title="订阅这个博客的评论" href="{{ blog.feedurl }}/comments"><abbr title="Really Simple Syndication">RSS</abbr> 订阅评论</a></li>
			</ul>
		</li>

	</ul>

	<script type="text/javascript">
		<!--//
			function loginp()
			{
			   $.getJSON("/do/info_login", function(ret){
					  if( ret.islogin)
					  {
						html='<li><a href="{{self.logouturl}}">注销</a></li>';
						if (ret.isadmin)
						html+=' <li><a href="/admin">管理</a></li>';
						$('#langpref').html(html);

					  }
					  else
					  {
						$('#langpref').html('<li><a href="/admin">登录</a></li>');
						if(typeof(get_check_area)!='undefined')
							get_check_area({{blog.comment_check_type}});
					  }
			   });
			}
			loginp();
		//-->
	</script>
</div>
