{% extends "base.html" %}
{% block title %} {{blog.title}} {% endblock %}
{% block head_block %}
<link rel="stylesheet" href="/static/styles/album.css" type="text/css" media="screen" />
<script>
			$(document).ready(function(){
				$("a[rel='imgurl']").colorbox({transition:"fade"});

			});
		</script>
{% endblock %}
{% block content %}


	<div id="main">
		<div id="maincontent" style="background-color:#ffffff"><div class="forFlow">
			{% if photos %}
				{% for photo in photos %}
					<div id="post-{{photo.key}}" style="width:330px;float:left;padding:5px;margin:5px;text-align:center; ">
					<h2 class="post-title"><a href="{{photo.Link_url|escape}}" rel="bookmark" title="{{ photo.name|escape }}">{{ photo.name|escape }}</a></h2>
				<div class="postmetadata-top">
                                <span><a title="Post to Google Buzz" class="google-buzz-button" href="http://www.google.com/buzz/post" data-button-style="small-count" data-locale="zh_CN" data-url="{{photo.Link_url|escape}}"  data-message="{{ photo.name|escape }}"></a>
<script type="text/javascript" src="http://www.google.com/buzz/api/button.js"></script></span>
					<span class="post-date">{{photo.date|datetz:"Y/m/d H:i"}}</span>
					<span class="post-views"><a href="{{photo.Link_url|escape}}">{{photo.viewcount}} 次阅读</a></span>
				</div>
				<div class="entry">
					<li><a rel="imgurl" href="{{photo.PhotoUrl}}" title="{{photo.description}}"><img src="{{photo.PhotoUrl_s}}" /></a></li>
					<p><b>转载请注明：来自</b><a href="{{blog.baseurl}}" title="{{blog.title|escape}}">{{blog.title|escape}}</a>
					<br/><a href="{{photo.Link_url|escape}}" title="{{ entry.title|escape }}">查看图片详细信息</a></p>
				</div>
					</div>

{% endfor %}


						</div>
					</div>

				<div class="navigation">
					{% if pager.prev %}<a href="{{ pager.prev}}" >&laquo;上一页</a>{% endif %}
					{% if pager.next %}<a href="{{ pager.next }}" >下一页&raquo;</a>{% endif %}
				</div>
			{% else %}
				<h2 class="center">Not Found</h2>
				<p class="center">不好意思，您所查看的内容不再这里，您可以通过侧栏搜索工具查一下。</p>
			{% endif %}
		</div></div>

		{% include "albumsidebar.html" %}
	</div>
{% endblock %}
