{% load i18n %}
{% extends "wikibase.html" %}
{% block title %}Interwiki{% endblock %}
{% block content %}
<div id="pb">
<h1>{% trans "Interwiki syntax" %}</h1>

<table class="c">
<thead>
<tr>
<th>Key</th>
<th>Server</th>
<th>Example</th>
<th>Result</th>
</tr>
</thead>
<tbody>
{% for iw in iwlist %}
<tr>
<td>
{{ iw.key }}
</td>
<td>
{{ iw.host }}
</td>
<td>
<code>[[{{ iw.key }}:hello, world]]</code>
</td>
<td>
<a class="iw iw-{{ iw.key }}" href="{{ iw.sample }}" target="_blank">hello, world</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
<p>This is <a class="int" href="/w/settings">configurable</a>.</p>
<p>Links that use unknown interwikis will be displayed <a class="iw-broken" title="Unsupported interwiki was used (xyz).">like this</a>.</p>

</div>
{% endblock %}
