{% load i18n %}
{% extends "wikibase.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
<h1>{{ page_title }}<br /></h1>
<a href="/revisionlist/{{ page_title }}">{% trans "View revision list" %}</a><br>
<em>{% trans "Version:" %} {{ version }} {% trans "Last Edited:" %} {{ version_date|date:"P M d, Y"}}</em>
    {% if author %}
        <em>By: <a href="/user/{{ author_email }}">{{ author }} </a></em>
    {% endif %}
    {% if body %}
        <div style="border: 1px solid black; margin: 10px; padding: 10px;">
        <p>
            {{ body }}
        </p>
        </div>
        <p>
            <a href="/edit/{{ page_title }}">{% trans "Edit this page" %}</a>
        </p>
    {% else %}
        <p><a href="/edit/{{ page_title }}">{% trans "Create this page" %}</a>
        </p>
    {% endif %}
{% endblock %}
