{% load i18n %}
<html>
    <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
      <base href="{{ base }}"/>
      <link rel="stylesheet" type="text/css" href="/static/themes/default/style.css"/>
      <link rel="shortcut icon" href="/static/logo.png" type="image/png" />
      <link rel="alternate" type="application/rss+xml" title="{% trans "New Pages" %}" href="/w/index.rss" />
      {% block heads %}{% endblock %}
      <title>{% block title %}{% endblock %}</title>
      {% if settings.owner_meta %}
        <meta name="google-site-verification" content="{{ settings.owner_meta }}"/>
      {% endif %}
    </head>
    <body>
    	{% block header %}
      <div id="header">
        <div class="top">
          <div class="login">
            {% if user %}
              <strong><a href="/users/{{ user.nickname|escape }}">{{ user.nickname }}</a></strong>
              <a href="/w/index">{% trans "Index" %}</a>
              <a href="/w/changes">{% trans "Changes" %}</a>
              {% if is_admin %}
                <a href="/w/users">{% trans "Users" %}</a>
                <a href="/w/settings">{% trans "Wiki Setting" %}</a>
              {% endif %}
                <a href="{{log_in_out_url}}">{% trans "Sign out" %}</a>
            {% else %}
              <div align="right"><a href="{{log_in_out_url}}">{% trans "Log in" %}</a></div>
            {% endif %}
	    <a href="{{blog.blogurl}}">Blog</a>
		<a href="{{blog.articleurl}}">Doc</a>
		<a href="{{blog.albumurl}}">Album</a>
		<a href="{{blog.downloadurl}}">Download</a>
		<a href="{{blog.feedurl}}">(RSS)</a>
          </div>
          <div class="title">
            <a href="/wiki/"><span>{{ settings.title }}</span></a>
            <a href="/w/edit">{% trans "New Page" %}</a>
          </div>
        </div>
      </div>
    	{% endblock %}
    {% if sidebar.0.body%}
      <div id="sidebar">
        {{ sidebar.0.body}}
      </div>
    {% endif %}
    <div id="page">
      {% block content %}{% endblock %}
    </div>
		{% block footer %}
      <div id="footer">
        {% if page.updated %}
        <p id="pm">This page was last edited {% if page.author %}by <a href="/users/{{ page.author|escape}}">{{ page.author }}</a>{% else %}anonymously{% endif %} on {{ page.updated|date:"d.m.y" }} at {{ page.updated|date:"H:i" }}.</p>
        {% endif %}
        {% if settings.footer %}
          {{ settings.footer }}
        {% endif %}
      </div>
		{% endblock %}
    </body>
</html>
