{% load i18n %}
{% extends "base.html" %}
{% block h_message %}
  {%if postback%}
    <div class="info {%if not result%}error{%endif%}">{{msg}}</div>
  {%endif%}
{% endblock %}
 {% block content %}
<form action="/admin/doc" method="post" >
   <div class="wrap">
      <h2>{%ifequal action 'edit'%}{%trans "Edit doc"%}{%else%}{%trans "Add doc"%} {%endifequal%}</h2>
      <div id="poststuff">

<div id="submitlink" class="submitbox">

<div id="previewview">
</div>

<div class="inside">
<p>&nbsp;</p>
</div>

<p class="submit">
<input type="submit" tabindex="4" value="{% trans "Save"%}" name="" class="button button-highlighted"/>
</p>

<div class="side-info">
<h5>{%trans "Related"%}</h5>

<ul>
<li><a href="/admin/otherdoc">{% trans "Manage All Other Doc"%}</a></li>


</ul>
</div>
</div>

<div id="post-body">
<div class="stuffbox" id="namediv">
<h3>{%trans "Name"%}</h3>
<div class="inside">
	<input type="text" id="name" value="{{doc.name}}" tabindex="1" size="30" name="name"/><br/>
    {% trans "The name is used to identify the doc almost everywhere, for example under the post or in the doc widget."%}</div>
</div>

<div class="stuffbox" id="addressdiv">
<h3>{% trans "Doc Value"%}</h3>
<div class="inside">
    <textarea name="value" id="value" cols="100" rows="30">{{doc.value}}
    </textarea><br/>
    {% trans "The value is used to the doc content."%}</div>

</div>


<input type="hidden" value="{{key}}" name="key"/>
<input type="hidden" value="{{action}}" name="action"/>
</div>

   </div>
   </form>
 {% endblock  %}
