{% load i18n %}
{% extends "base.html" %}
{% block header %}
<link href="/static/styles/album.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}

<style type="text/javascript">
#body{border:none;width:90%;}
html{overflow:hidden;}
</style>
<h2>{% trans "Edit Albums" %}</h2>


   <form action="/admin/albums/edit/{{album.id}}/" method="POST">
    <p><label>相册名称</label></p>
	<p><input type="text" name="albumname" value="{{album.albumname}}" class="input" /></p>
	<p><label>排序</label></p>
	<p><input type="text" name="displayorder" value="{{album.displayorder}}" class="input" /></p>
    <p><label>Tag</label></p>
	<p><input type="text" name="tag" value="{{album.tag.tag}}" class="input" /></p>
	<p><input type="submit" value="保存" class="button" />
	<input type="hidden" name="albumid" value="{{album.id}}" />
	</p>

   </form>

{% endblock %}
</body>
</html>