<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
<p>ChinaCDM Inc. owns and operates the ChinaCDM websites ccdm.tk and ccdm.tk. We take privacy seriously. Please read the following to learn more about our privacy policy. You may also want to review our Terms of Use.
  
</p>
<h1>Privacy Policy Scope.
</h1>
<p>This policy covers how ChinaCDM treats information about you that ChinaCDM collects and receives, including information related to your use of ChinaCDM products and services.
This policy does not apply to the practices of companies that ChinaCDM does not own or control, or to people that ChinaCDM does not employ or manage. In addition, certain ChinaCDM partners may have their own privacy policies and statements.</p>
<h3> Personal Information. </h3>
<p>ChinaCDM collects personal information when you visit the ChinaCDM websites, join the ChinaCDM Community, sign-up for a mailing list, request news and product information, enter contests, complete surveys or purchase ChinaCDM products and services. Personal information is information about you that is personally identifiable like your name, address, email address or phone number, and that is otherwise not publicly available. We use the personal information you voluntarily provide to register you for an account with the ChinaCDM Community, to send information you've requested and to fulfill orders. 
When you join the ChinaCDM Community you must provide an email address and you have the option of signing up for ChinaCDM mailing lists. When you purchase ChinaCDM commercial licenses, support or other services, we may add you to one or more of our mailing lists and we may occasionally contact you via email. When you enter a contest or survey, we may ask for your name, address and email address so we can administer the contest and notify winners.</p>
<h3> Use of Personal Information.</h3> 
<p>ChinaCDM does not sell or rent your personal information to anyone. If you are referred to our site from one of our partners we may share basic registration information with the partner from which you were referred. We may also release personal information when we believe that it is required to comply with the law, or to protect the rights, property, or safety of ChinaCDM, our users, or others. This may include exchanging information with other companies and organizations for purposes of fraud protection and credit risk management. Please note, ChinaCDM mailing lists may be archived by several third party sites and your email address may be found on these archive sites. ChinaCDM doesn't have control over mailing list archive sites.</p>
<h3> Community Information. </h3>
<p>Community information contributed by members of the ChinaCDM Community, including sample data, event types, tags, comments and other information related to the ChinaCDM Knowledge Base, may be reused by other members of the ChinaCDM Community under terms and conditions of the ChinaCDM Creative Commons License.</p>
<h3> Aggregate Information. </h3>
<p>ChinaCDM also collects aggregated tracking data when users visit our websites. We analyze visitors' use of our sites by tracking information such as page views, traffic flows, search terms and click throughs. We use this information to improve our websites. We may also share this anonymous traffic and demographic information in aggregate form with advertisers and other business partners. We do not share any information with anyone that can identify an individual user.</p>
<h3> Cookies. </h3>
<p>As part of our approach to providing personalized services on our web site, ChinaCDM uses cookies to store and sometimes track information about you. A cookie is a small data file sent to your browser from a web server and 
  stored on your hard drive that allows easier access the next time the same page is visited. For example, a cookie is sent when you sign-up or log-in to the ChinaCDM websites. With your consent, cookies can store information from forms you fill out to create a user profile so that you do not have to re-enter the information each time you visit. 
  If you do not want your personal information to be stored by cookies, you can configure your browser so that it notifies you whenever a cookie is received. This way you can decide each time to accept cookies or not. However, the use of cookies may be necessary to provide certain features and choosing to reject cookies may reduce the functionality of the ChinaCDM websites. Your browser should include precise instructions explaining how to control the acceptance of cookies.  </p>
<h3>IP Addresses.</h3> 
<p>The ChinaCDM websites also automatically capture IP addresses. We use IP addresses to analyze trends, administer the site, track user movement, ensure the security of your interaction with the ChinaCDM websites, and gather broad demographic information for aggregate use.  </p>
<h3>Security. </h3>
<p>The ChinaCDM websites have security measures in place to protect the loss, misuse, and alteration of the information under our control. All personal information and aggregate information is stored on a server. This server is located in a locked and guarded place and only authorized ChinaCDM personnel have access to the database containing user names and passwords.  </p>
<h3>Notification of Changes. </h3>
If we change our Privacy Policy, we will post an updated privacy policy at http://www.ccdm.tk/privacy. If we decide to use personally identifiable information in a manner different from that stated at the time it was collected, we will notify users via email. Users will be able to opt out of any new use of their personal information. 
  Choice/Opt-Out.The ChinaCDM websites provide users the opportunity to opt-out of receiving communications from us and from our partners any time we collect personal information. 
<h2>Contact ChinaCDM</h2>
  If you have any questions or comments about our privacy policy, the practices of the ChinaCDM websites or your dealings with ChinaCDM, you can contact us at any time.
  Last modified: August 30th, 2010

</body>
</html>
