{% load i18n %}
{% extends "base.html" %}
{% block header %}
<link href="/static/styles/album.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}


<style type="text/css">
ul.photos{
float:left;

}
ul.photos li{
float:left;
padding:3px;
width:130px;
height:110px;
border:solid 2px #ccc;
margin:3px;
}
</style>
<h2>{% trans "Show Albums" %}</h2>
<form action="/admin/albums/{{albumid}}/" method="post" id="upshow">
<div>
	<ul class="photos" id="photo">
	{% for p in photos %}
	<li><img src="{{p.PhotoUrl_s}}" alt={{p.description}} /><br /><input type="checkbox" name="deleteid" value="{{p.key}}" /> <a href="/admin/photo/?edit={{p.key}}&album={{albumid}}" target="_self"> {% trans "Edit" %}</a></li>
	{% endfor %}
	</ul>
</div>
	<div class="clear"></div><div>
	<input type="submit" value="删除所选" class="button" name="delete"  />
    <input type="submit" value="设为封面" class="button" name="setcover" />
	<input name="albumkey" id="albumkey" type="hidden" value="{{albumkey}}" />
	<input type="hidden" value="{{albumid}}" name="alid" />
    </div>
</form>
<div class="clear"></div>
<iframe frameborder="0" height="300" width="800"
				src="/admin/upserver/" scrolling="no" id="uploadserver" ></iframe>
{% endblock %}
</body>
</html>
