<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >

<head profile="http://gmpg.org/xfn/11">
{%mf head%}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8;" />

<title>{% block title %} {{ blog.title}}{% endblock %}</title>

<link rel="stylesheet" href="/themes/{{ blog.theme_name }}/style.css" type="text/css" media="screen" />
<link rel="alternate" type="application/rss+xml" title="{{ blog.title}} RSS Feed" href="{{ blog.feedurl }}" />
<link rel="shortcut icon" href="/favicon.ico" />
{% block head_block %}{% endblock %}
{%endmf%}
</head>
<body>
<div id="wrapper">
<div id="header">
	<div class="wrapper">
		<h1><a href="{{blog.baseurl}}/" title="{{blog.title}}">{{blog.title}}</a></h1>
		<ul class="menu">
			<li class="{%if ishome%}current_page_item{%else%}page_item{%endif%}"><a href="{{ blog.baseurl }}" title="Home"><span>Home</span></a></li>
			{{self.m_list_pages}}
       <li class="page_item" ><a href="{{blog.blogurl}}">Blog</a></li>
      <li class="page_item" ><a href="/wiki">Wiki</a></li>
    <li class="page_item" ><a href="{{blog.feedurl}}">(RSS)</a></li>
    {% block topmenu %}{% endblock %}

    {%if self.is_admin or self.author%}
     <li><a href="/admin">Admin</a> </li>
    {%endif%}
      <li>
     {%if self.is_login%}

       <a href="{{self.logouturl}}">Logout</a>

     {%else%}
       <a href="/admin">Login</a>

     {%endif%}
     {%mf nav_menu%}
{%endmf%}
         </li>
		</ul>
	</div>
</div>
<div class="hr"></div>
<div class="wrapper">

	<div id="content">

	{%block content %}{%endblock%}
    
	</div>

</div>
<div class="hr"></div>
<div id="footer">
{%mf footer%}
<div class="wrapper">
	<p>
		© 2007~2008 <a href="{{blog.baseurl}}">{{blog.title}}</a><br />
		Powered by	<a href="http://wordpress.org/">WordPress</a> and <a href="http://utombox.com">Utom</a>		

		 
		<!-- <?php echo get_num_queries(); ?> queries. <?php timer_stop(1); ?> seconds. -->
	</p>
</div>
{%endmf%}
</div>
</div>
</body>
</html>