{% extends "base.html" %}
{% block title %} {{year}}年{{month}}月 - {{blog.title|escape}} {% endblock %}
{% block content%}
{% if entries %}





		<div class="navigation">
			{% if pager.prev %}
			<div class="alignleft"><a href="{{pager.prev}}" >&laquo;Older Entries</a></div>
        {% endif %}
        {% if pager.next %}
			<div class="alignright"><a href="{{pager.next}}" >Newer Entries&raquo;</a></div>
        {% endif %}
			
		</div>

		{% for entry in entries %}

			<div class="post" id="post-{{entry.key}}">
				<h2><a href="{{entry.Link_url|escape}}" rel="bookmark" title="Permanent Link to {{ entry.title|escape }}">{{ entry.title|escape }}</a></h2>
				<ul class="post_metadata">
					<li class="post_date">{{entry.date|datetz:"F jS, Y"}}</li>
					<li class="post_comments"> <a href="{{entry.Link_url}}#comments">Comments({{entry.commentcount}})&#187;</a></li>
				</ul>
				<div class="entry">
					{{ entry.content }}
				</div>

				<div class="post_tags">{% if entry.tags%}
					<span class="post-tag">Tag:
						{%for tag in entry.tags%}
							<a href="{{tag.Tagurl|urlencode}}">{{tag}}</a>&nbsp;{%endfor%}</span>
					{%endif%}</div>
			</div>

		{% endfor %}

		<div class="navigation">
			{% if pager.prev %}
			<div class="alignleft"><a href="{{pager.prev}}" >&laquo;Older Entries</a></div>
        {% endif %}
        {% if pager.next %}
			<div class="alignright"><a href="{{pager.next}}" >Newer Entries&raquo;</a></div>
        {% endif %}
		</div>

	{% else %}

		<h2 class="center">Not Found</h2>

	{% endif %}

	</div>

{% include "sidebar.html" %}

{% endblock %}
