	<div id="sidebar">
		<ul>
			<li class="widget_feed">
				<a href="{{ blog.feedurl }}">Entries Feed</a>
			</li>
            <li>
			<h2>Notice</h2>
			<p>
				{{blog.blognotice}}
			</p>
		</li>
			<li>


			<ul>
				<div id="buzzwidget">
<script type="text/javascript" language="javascript" src="http://www.buzzcounter.net/widget/alexliyu2012?background=ffffff&buzzbackground=ffffff&text=333333&smalltext=c0c0c0&link=17375e"></script><script type="text/javascript">$.Widget.get();</script><div id="buzzwidget-footer"></div></div>
<script type="text/javascript">$.Widget.set();</script>

			</ul>

		</li>
		<li>
			<h2>Category</h2>
			{% if categories %}
			<ul class="side-cat" >
				{%for cate in categories%}
				<li><a href="{{cate.Link_url}}">{{cate.name}}</a>({{cate.count}})</li>
				{%endfor%}
			</ul>
			{% endif %}
			<div class="clear"></div>
		</li>
        <li>
			<h2>Tag</h2>
			{% if alltags %}
			{% for t in alltags %}
			<a title="{{ t.tagcount }} pages" href="{{t.Tagurl|urlencode}}"><span style='font-size:{{ t.tagcount|add:9 }}px;'>{{t.tag}}</span></a>
			{%endfor%}
			{% endif %}
		</li>

			<li><h2>Archives</h2>
				{% if archives %}
			<ul>
				{%for archive in archives%}
				<li><a href="{{archive.Link_url}}">{{archive.year}}年{{archive.month}}月</a>({{archive.entrycount}})</li>
				{%endfor%}
			</ul>
			{% endif %}
			</li>
            <li>
			<h2>Roll</h2>
			{% if blogroll %}
			<ul>
				{%for link in blogroll%}
				<li><a href="{{link.href}}" target="_blank">{{link.linktext}}</a></li>
				{%endfor%}
			</ul>
			{% endif %}
		</li>
        
				<li><h2>Meta</h2>
				<ul>
					<li>
			<ul>
				<li><a rel="external nofollow" id="feedrss" title="订阅这个博客的文章" href="{{ blog.feedurl }}"><abbr title="Really Simple Syndication">RSS</abbr> Subscribe</a></li>
				<li><a rel="external nofollow" id="feedrsscomments" title="订阅这个博客的评论" href="{{ blog.feedurl }}/comments"><abbr title="Really Simple Syndication">RSS</abbr> Subscribe Comments</a></li>
			</ul>
		</li>

				</ul>
				</li>
		
		
		</ul>
     
	</div>

