{% extends "base.html" %}
{% block title %} {{entry.title}} - {{blog.title}} {% endblock %}
{% block content%}
<div class="main">
<div class="post_content">
{% if entry %}
	<div class="post_box" id="post-{{entry.key}}">
		<dl class="postdesc">
		<dt>
		{%if entry.Images%}
		<a title="{{entry.title}}" href="{{entry.Link_url}}" rel="bookmark"><img src="{{entry.Images.0}}"  /></a>
		{%else%}
		<a title="{{entry.title}}" href="{{entry.Link_url}}" rel="bookmark"><img src="/themes/{{ blog.theme_name }}/images/blank.jpg" /></a>
		{%endif%}
		</dt>
		<dd class="mark_name"><p><strong>{{entry.title}}</strong></p></dd>
		<dd><strong>作者：</strong>{{entry.author_name}}</dd>
		<dd><strong>时间：</strong>{{entry.date|datetz:"F jS, Y"}}</dd>
		<dd><strong>浏览：</strong>{{entry.readtimes}}次</dd>
		<dd><strong>评论：</strong>{{entry.commentcount}}</dd>
		<dd class="cats"><strong>分类：</strong>{%for cate in entry.categories%} <a href="{{cate.Link_url}}">{{cate.name}}</a> {%endfor%}</dd>
		<dd class="tags"><strong>标签：</strong>{%for tag in entry.tags%}<a href="{{tag.Tagurl|urlencode}}">{{tag}}</a> {%endfor%}</dd>

		</dl>

		<div class="post_detail">
			<div class="post_nav">
				<div class="nav_title">
					<span><a class="on" id="current1" onclick="change_option(2,1);">文章内容</a></span>
					<span><a id="current2" onclick="change_option(2,2);">推荐阅读</a></span>
				</div>
				<p class="nav_explain">	</p>
			</div>
			<div class="postentry" id="content1">
			{{ entry.content }}
			</div>
			<div class="b_list" id="content2" style="display:none;">
<ul class="list_all">
	{%if relateposts%}
                {%for entry in relateposts%}
                 <li>
				<span class="g_pic">
								<a title="{{entry.title}}" href="{{entry.Link_url}}" rel="bookmark"><img src="{{entry.Images.0|default:"/themes/RedGlamor/images/blank.jpg"}}"  /> </a>
				 </span>

<span><a href="{{entry.Link_url}}" rel="bookmark" target="_blank">{{entry.title}}</a></span>
				</li>
                {%endfor%}
		{%else%}
		<li>无相关日志</li>
                {%endif%}</ul>
			</div>
		</div>
<div class="iclear"></div>
<div id="share">

                        </div>
<div class="iclear"></div>
		<div class="post_comment">
                	{% include "comments.html" %}
                </div>
	</div>
{%else%}
<h2>Not Found</h2>
<p>Sorry, no posts matched your criteria.</p>
{%endif%}
</div>
</div>
{% include "asidebar.html" %}
{% endblock %}
