{% extends "base.html" %}
{% block content%}
<div class="main">
		<div class="b_list">
		{% if entries %}

			<div class="list_all">
				<h2>{{category.name}}</h2>
				{% for entry in entries %}
				<li>
				<span class="g_pic">
								<a title="{{entry.title}}" href="{{entry.Link_url}}" rel="bookmark"><img src="{{entry.Images.0|default:"/themes/RedGlamor/images/blank.jpg"}}"  /> </a>
				 </span>

<span><a href="{{entry.Link_url}}" rel="bookmark" target="_blank">{{entry.title}}</a></span>
				</li>
				{%endfor%}
			</div>
<div class='wp-pagenavi'>
	<span class="pages">{% if pager.next %}<a href="{{pager.next}}">&laquo; Older Entries</a>{%endif%}</span>
	<span class="pages">{% if pager.prev %}<a href="{{pager.prev}}">&laquo; Newer Entries</a>{%endif%}</span>
	</div>
		{%endif%}
		</div>
	</div>
{% include "sidebar.html" %}
{% endblock %}
