{% extends "base.html" %}
{% block title %} {{entry.title}} - {{blog.title}} {% endblock %}
{% block content%}
<div class="main">
<div class="post_content">
	<div class="post_box">
		<dl class="postdesc">
		<dd class="mark_name"><p><strong> <h2>联系我们</h2> </strong></p></dd>
		</dl>

		<div class="post_detail">
			<div class="postentry" id="content1">
			<p>如果你有好的建议，或者有广告投放，又或者希望在产品销售方面合作，请联系我。</p>

<p><strong>E-mail：</strong><a href="mailto:alexliyu2012@gmail.com">alexliyu2012@gmail.com</a></p>
<p><strong>QQ：</strong>939567050</p>
<p><strong>QQ群:</strong> </p>

			</div>
		</div>

</div>
</div>
</div>
{% include "sidebar.html" %}
{% endblock %}
