{% extends "base.html" %}
{% block content%}
<div class="main">
{%if ishome%}
<div id="focuscontent">
<div id="slider">
<div id="children">
	{%for entry in thetop%}
    <a href="{{entry.Link_url}}" target="_blank"><img src="{{entry.imageurl|default:"/themes/RedGlamor/images/blank.jpg"}}" alt="{{entry.title}}" /></a>
	{%endfor%}
  </div>
</div>
</div>
{%endif%}
<div class="post_content">
<div class="p_list">
	{% if entries %}
	{% for entry in entries %}
    <dl>
    <dt>{%if entry.Images%}
			<a title="{{entry.title}}" href="{{entry.Link_url}}" rel="bookmark"><img src="{{entry.Images.0}}" alt="{{entry.title}}" /> </a>
			{%else%}
			<a title="{{entry.title}}" href="{{entry.Link_url}}" rel="bookmark"><img src="/themes/{{ blog.theme_name }}/images/blank.jpg" alt="{{entry.title}}" /></a>
			{%endif%}
	</dt>
    <dd class="item_title"><a title="{{entry.title}}" href="{{entry.Link_url}}" rel="bookmark" class="title">{{entry.title}}</a></dd>
    <dd><span class="postmeta">{{entry.date|datetz:"F jS, Y"}}&nbsp;&nbsp;{{entry.author_name}}&nbsp;&nbsp;{%for cate in entry.categories%} <a href="{{cate.Link_url}}">{{cate.name}}</a> {%endfor%}&nbsp;&nbsp;{{entry.readtimes}} 次浏览</span>
		<span class="post-comments-a">Comments({{entry.commentcount}})</span>
	</dd>
    <dd class="post_text">{{entry.content_excerpt}}</dd>
    </dl>
	{%endfor%}
	<div class='wp-pagenavi'>
	<span class="pages">{% if pager.next %}<a href="{{pager.next}}">&laquo; Older Entries</a>{%endif%}</span>
	<span class="pages">{% if pager.prev %}<a href="{{pager.prev}}">&laquo; Newer Entries</a>{%endif%}</span>
	</div>
	{%else%}
	<h2>Not Found</h2>
	<p>Sorry, no posts matched your criteria.</p>
	{%endif%}
</div>
</div>
</div>
{% include "dsidebar.html" %}
{% endblock %}
