{% extends "base.html" %}
{% block title %} {{entry.title}} - {{blog.title}} {% endblock %}
{% block head_block %}

{% if entry %}
{%if entry.strtags%}<meta name="Keywords" content="{{entry.strtags|escape}}" />{%endif%}
{%if entry.excerpt%} <meta name="Description" content="{{entry.excerpt|escape}}" />{%endif%}
{% endif %}
<script>
			$(document).ready(function(){

				$(".downloadpage").colorbox({width:"50%", inline:true, href:"#inline"});
			});
		</script>

{% endblock %}
{% block content%}
<div class="main">
<div class="post_content">
{% if entry %}
	<div class="post_box" id="post-{{entry.key}}">
		<dl class="postdesc">
		<dt>
		{%if entry.Images%}
		<a title="{{entry.title}}" href="{{entry.Link_url}}" rel="bookmark"><img src="{{entry.Images.0}}"  /></a>
		{%else%}
		<a title="{{entry.title}}" href="{{entry.Link_url}}" rel="bookmark"><img src="/themes/{{ blog.theme_name }}/images/blank.jpg" /></a>
		{%endif%}
		</dt>
		<dd class="mark_name"><p><strong>{{entry.title}}</strong></p></dd>
		<dd><strong>作者：</strong>{{entry.author_name}}</dd>
		<dd><strong>时间：</strong>{{entry.date|datetz:"F jS, Y"}}</dd>
		<dd><strong>浏览：</strong>{{entry.readtimes}}次</dd>
		<dd><strong>评论：</strong>Comments({{entry.commentcount}})</dd>
		<dd class="cats"><strong>分类：</strong>{%for cate in entry.categories%} <a href="{{cate.Link_url}}">{{cate.name}}</a> {%endfor%}</dd>
		<dd class="tags"><strong>标签：</strong>{%for tag in entry.tags%}<a href="{{tag.Tagurl|urlencode}}">{{tag}}</a> {%endfor%}</dd>
		<dd><strong>下载：</strong><a class="downloadpage" href="#" > 点击此处 </a></dd>
		</dl>

		<div class="post_detail">
			<div class="post_nav">
				<div class="nav_title">
					<span><a class="on" id="current1" onclick="change_option(2,1);">文章内容</a></span>
					<span><a id="current2" onclick="change_option(2,2);">推荐阅读</a></span>
				</div>
				<p class="nav_explain">	</p>
			</div>
			<div class="postentry" id="content1">
			{{ entry.content }}
			</div>
			<div class="b_list" id="content2" style="display:none;">
<ul class="list_all">
	{%if relateposts%}
                {%for entry in relateposts%}
                 <li>
				<span class="g_pic">
								<a title="{{entry.title}}" href="{{entry.Link_url}}" rel="bookmark"><img src="{{entry.Images.0|default:"/themes/RedGlamor/images/blank.jpg"}}"  /> </a>
				 </span>

<span><a href="{{entry.Link_url}}" rel="bookmark" target="_blank">{{entry.title}}</a></span>
				</li>
                {%endfor%}
		{%else%}
		<li>无相关日志</li>
                {%endif%}</ul>
			</div>
		</div>
<div class="iclear"></div>
 <div id="share">

                        </div>
<div class="iclear"></div>
		<div class="post_comment">
                	{% include "comments.html" %}
                </div>
	</div>
{%else%}
<h2>Not Found</h2>
<p>Sorry, no posts matched your criteria.</p>
{%endif%}
</div>
</div>
{% include "dsidebar.html" %}
<div style="display:none">
  <div id="inline">
    <div class="part"> <strong>下载声明：</strong>
      <div class="part_content">
        <p> 1. 本站所有软件和资料均为软件作者提供或网友推荐发布而来，仅供学习和研究使用，不得用于任何商业用途。如本站不慎侵犯你的版权请<a href="/contact">联系我</a>，我将及时处理，并撤下相关内容！ </p>
        <p> 2. 访问本站的用户必须明白，本站对所提供下载的软件和程序代码不拥有任何权利，其版权归该软件和程序代码的合法拥有者所有，请用户在下载使用前必须详细阅读并遵守软件作者的&quot;使用许可协议&quot;。本站仅仅是一个软件使用交流的平台。 </p>
      </div>
    </div>
    <div class="part"> <strong>文件信息：</strong>
      <div class="part_content">
        <div style="float:left;">
          <p>文件名称：{{entry.title}}</p>
          <p>文件大小：{{entry.downloadsize}} MB</p>
          <p>上传日期：{{entry.date}}</p>
        </div>
      </div>
      <div style="clear:both"></div>
    </div>
    <div class="part" style="text-align:center">
      <h2 style="font-size:12px;margin: 0px;"><a href="{{entry.Link_url}}">去{{blog.titile}}看看关于{{entry.title}} 的详细介绍文章</a></h2>
    </div>
    <div class="part"> <strong>下载地址：</strong></div>
    <div style="padding-top:10px">如无特殊说明，本文件解压密码为：<font color="red">{{blog.baseurl}}</font>，使用WinRAR打开压缩包亦可看到密码。</div>
  <div> <a href="{{entry.downloadurl}}" target="_blank" title="Please Click"> 点击此处 </a> </div>
</div>
</div>
{% endblock %}
