
<div class="search_main">
<div class="search_tab"><a><span>搜索本站</span></a></div>
<div class="searchbody">
<form method="get" id="searchform" action="http://www.google.com/search"  target="_blank">
<p class="search_input"><input class="" value="" name="as_q" id="as_q" type="text" />
<input name="as_sitesearch" value="{{blog.domain}}" type="hidden" />
</p>
<button title="搜索" type="submit" id="searchsubmit" class="search_main_submit"><span class="exp">搜索</span></button>
</form>
</div>
<div class="search_hot">
<p></p>
</div>
</div>
