/*******************可重用样式*******************/
/*-----清理浮动---*/
.clearfix:after{
content:"."; display:block; height:0; clear:both;
visibility:hidden;
}
*html .clearfix{
 height:1%;
}
*+html .clearfix{
 height:1%;
}
/*-----显示模式---*/
.none{display:none;}
.block{display:block;}
.inline{display:inline;}
.hidden{overflow:hidden;}
/*-----对齐方式----*/
.l{float:left;}
.r{float:right;}
.clear{clear:both;height:0px;font-size:0px;line-height:0px;over-flow:hidden;}
* html .clear {display:inline;}
.a-c{text-align:center;margin:0 auto;}
.a-l{text-align:left;}
.a-r{text-align:right;}
/*-----margin----*/
.mar-t6{margin-top:6px;}

/*-----padding----*/
.pad10{padding:0 10px;}

/*-----font size----*/
.font_12{font-size:12px;}
.font_14{font-size:14px;}
.bold{font-weight:bold;}


/*------页面留白-----*/
.blank{height:8px; line-height:8px; clear:both; visibility:hidden;}
.blank5{height:5px; line-height:5px;/* _margin:-3px 0;*/ clear:both; visibility:hidden;}
/*------border-----*/
.bor-gray{border:1px #CCCCCC solid;}


/*------button-----*/
.btn{border:1px solid #BDBDBB;background-color:#E6E6E4;padding:2px 0px;}

/*------遮罩层-----*/
.yijs_mask{	background-color:#333;filter:alpha(opacity=50);-moz-opacity: 0.5;opacity: 0.5;position:absolute;top:0px;left:0px;}
.yijs_iframe{display:block;position:absolute;z-index:999;position:absolute;top:0px;left:0px;filter:alpha(opacity=0);-moz-opacity: 0;opacity: 0;}