.share-list{

}
.share-list-li{
	position:relative;
	height:60px;width:60px;
	margin:0px 3px;margin-top:10px;
	cursor:pointer;
	text-align:center;
}

.share-list-icon{
	background:url(/static/images/shareList.png) 0px 1px no-repeat;
	display:block;
	width:40px;height:40px;
	position:relative;z-index:2;
	margin:0px auto;
}
.share-list-text{
	color:#999 !important;
	display:block;
	position:absolute;bottom:0px;left:0px;
	text-align:center;
	width:100%;height:14px;overflow:hidden;
}
.icon-zhuaxia{background-position:left -46px !important;}
.icon-xianguo{background-position:left -93px !important;}
.icon-qqshuqian{background-position:left -143px !important;}
.icon-favorite{background-position:left -192px !important;}
.icon-greader{background-position:left -244px !important;}
.icon-baiducang{background-position:left -298px !important;}
.icon-delicious{background-position:left -353px !important;}

.icon-digu{background-position:-50px 0px !important;}
.icon-zuosa{background-position:-50px -47px !important;}
.icon-sinaminiblog{background-position:-50px -94px !important;}
.icon-twitter{background-position:-50px -143px !important;}
.icon-renjian{background-position:-50px -192px !important;}
.icon-gbuzz{background-position:-50px -242px !important;}

.icon-douban{background-position:-101px 1px !important;}
.icon-renren{background-position:-101px -46px !important;}
.icon-kaixin001{background-position:-101px -93px !important;}
.icon-sohubai{background-position:-101px -142px !important;}
.icon-friendfeed{background-position:-101px -190px !important;}
.icon-facebook{background-position:-101px -242px !important;}

.icon-feerbook{background-position:0px -518px !important;}
.icon-chouti{background-position:0px -408px !important;}
.icon-diglog{background-position:0px -462px !important;}

.share-list-icon-shadow{
	width:60px;height:21px;
	position:absolute;bottom:8px;left:0px;z-index: 1;
	margin: 0 auto;
	display:block;
	background:#FAFDEF;
}
.share-list-icon-shadow img{
	position:absolute;bottom:0px;left:0px;
}
.share-list-preload{
	position:absolute;left:50%;top:50%;
	margin-left:-16px;margin-top:-16px;
}

