/*---------------- RESET BROWSER DEFAULTS ----------------*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, em, img, fieldset, form, label, legend { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
ul { list-style:none; }
body { line-height: 1.5; }
a img { border: none; }



BODY {
	TEXT-ALIGN: center; LINE-HEIGHT: 1.7em; MARGIN: 0px auto; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND: #f4f4f4; COLOR: #333; FONT-SIZE: 12px
}
H1 {
	BACKGROUND: url(/themes/webcbm/images/hr.gif) repeat-x 50% bottom; COLOR: #000; FONT-WEIGHT: normal
}
H2 {
	BACKGROUND: url(/themes/webcbm/images/hr.gif) repeat-x 50% bottom; COLOR: #000; FONT-WEIGHT: normal
}
H3 {
	BACKGROUND: url(/themes/webcbm/images/hr.gif) repeat-x 50% bottom; COLOR: #000; FONT-WEIGHT: normal
}
H4 {
	BACKGROUND: url(/themes/webcbm/images/hr.gif) repeat-x 50% bottom; COLOR: #000; FONT-WEIGHT: normal
}
H5 {
	BACKGROUND: url(/themes/webcbm/images/hr.gif) repeat-x 50% bottom; COLOR: #000; FONT-WEIGHT: normal
}
H6 {
	BACKGROUND: url(/themes/webcbm/images/hr.gif) repeat-x 50% bottom; COLOR: #000; FONT-WEIGHT: normal
}
H1 {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 1em; MARGIN: 0px 0px 12px; FONT-SIZE: 36px
}
H2 {
	PADDING-BOTTOM: 8px; LINE-HEIGHT: 1em; MARGIN: 0px 0px 10px; FONT-SIZE: 24px
}
H3 {
	PADDING-BOTTOM: 8px; LINE-HEIGHT: 1em; MARGIN: 0px 0px 10px; FONT-SIZE: 18px
}
H4 {
	PADDING-BOTTOM: 8px; LINE-HEIGHT: 1em; MARGIN: 0px 0px 10px; FONT-SIZE: 16px
}
H5 {
	PADDING-BOTTOM: 8px; LINE-HEIGHT: 1em; MARGIN: 0px 0px 10px; FONT-SIZE: 14px
}
H6 {
	PADDING-BOTTOM: 8px; LINE-HEIGHT: 1em; MARGIN: 0px 0px 10px; FONT-SIZE: 14px
}
P {
	MARGIN: 0px 0px 8px
}
A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; COLOR: #999; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000
}
A:hover IMG {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
EM {
	FONT-STYLE: italic
}
I {
	FONT-STYLE: italic
}
CODE {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FONT-FAMILY: "Courier New", Courier, monospace; COLOR: #000; FONT-SIZE: 11px; PADDING-TOP: 2px
}
PRE {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FONT-FAMILY: "Courier New", Courier, monospace; COLOR: #000; FONT-SIZE: 11px; PADDING-TOP: 2px
}
PRE {
	BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid; PADDING-BOTTOM: 20px; LINE-HEIGHT: 1.4em; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND: #fff; BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid; PADDING-TOP: 20px
}
.wrapper {
	POSITION: relative;
	TEXT-ALIGN: left;
	MARGIN: 0px auto;
	WIDTH: 960px
}
.featured {
	POSITION: relative; OVERFLOW: hidden
}
.primary {
	POSITION: relative; OVERFLOW: hidden
}
.footer {
	POSITION: relative; OVERFLOW: hidden
}
.header {
	POSITION: relative; PADDING-BOTTOM: 24px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(/themes/webcbm/images/cats_grad.jpg) #000 repeat-x 50% bottom; OVERFLOW: hidden; PADDING-TOP: 24px
}
.featured {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(/themes/webcbm/images/top_grad.jpg) repeat-x 50% top; PADDING-TOP: 40px
}
.featured H1 {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #fff
}
.primary {
	PADDING-BOTTOM: 40px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(/themes/webcbm/images/top_grad.jpg) repeat-x 50% top; PADDING-TOP: 40px
}
.home {
	BACKGROUND: url(/themes/webcbm/images/feat_shadow.png) no-repeat 50% top; PADDING-TOP: 20px
}
.home_slider {
	PADDING-BOTTOM: 0px
}
.main_content {
	WIDTH: 600px;
	PADDING-RIGHT: 20px;
	FLOAT: left;
	BORDER-RIGHT: #e9e9e9 1px solid;
	margin-top: 0px;
	margin-right: 19px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.full_width {
	POSITION: relative;
	TEXT-ALIGN: left;
	WIDTH: 960px;
	BORDER-RIGHT: medium none;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.box940 {
	POSITION: relative; MARGIN: 15px 40px 15px 0px; FLOAT: left; OVERFLOW: hidden
}
.box695 {
	POSITION: relative; MARGIN: 15px 40px 15px 0px; FLOAT: left; OVERFLOW: hidden
}
.box450 {
	POSITION: relative; MARGIN: 15px 40px 15px 0px; FLOAT: left; OVERFLOW: hidden
}
.box205 {
	POSITION: relative; MARGIN: 15px 40px 15px 0px; FLOAT: left; OVERFLOW: hidden
}
.box327 {
	POSITION: relative; MARGIN: 15px 40px 15px 0px; FLOAT: left; OVERFLOW: hidden
}
.box328 {
	POSITION: relative; MARGIN: 15px 40px 15px 0px; FLOAT: left; OVERFLOW: hidden
}
.box940 {
	WIDTH: 940px
}
.box695 {
	WIDTH: 600px
}
.box450 {
	WIDTH: 450px
}
.box205 {
	WIDTH: 205px
}
.box327 {
	WIDTH: 327px
}
.box328 {
	WIDTH: 328px
}
.right_side {
	MARGIN-RIGHT: 0px
}
.sidebar {
	POSITION: relative; MARGIN: 15px 0px; WIDTH: 205px; FLOAT: left; COLOR: #999; OVERFLOW: hidden
}
.main_content_right {
	BORDER-LEFT: #e9e9e9 1px solid; MARGIN: 0px 0px 25px 19px; PADDING-LEFT: 20px; WIDTH: 900px; FLOAT: left
}
.logo {
	Z-INDEX: 1;
	POSITION: absolute;
	TOP: -76px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
A IMG.logo:hover {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.page_nav {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: right; PADDING-TOP: 0px
}
.page_nav LI {
	POSITION: relative; FLOAT: left
}
.page_nav A {
	PADDING-BOTTOM: 3px; MARGIN: 0px 15px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #bbb; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.page_nav A.last {
	MARGIN-RIGHT: 0px
}
.page_nav A:hover {
	BORDER-BOTTOM: #ffcc00 1px solid; COLOR: #fff
}
A.current {
	BORDER-BOTTOM: #ffcc00 1px solid; COLOR: #fff
}
.page_nav A.current:hover {
	BORDER-BOTTOM: #ffcc00 1px solid; COLOR: #fff
}
.page_nav A:hover {
	BORDER-BOTTOM: #666 1px solid; COLOR: #ddd
}
#fader {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 940px; PADDING-RIGHT: 0px; BACKGROUND: url(/themes/webcbm/images/lightbox-ico-loading.gif) #fff no-repeat 50% 50%; HEIGHT: 380px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#fader2 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 695px; PADDING-RIGHT: 0px; HEIGHT: 350px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#fader LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#fader2 LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.fader2_shadow {
	BACKGROUND: url(/themes/webcbm/images/fader2_shadow.png) no-repeat 50% top; HEIGHT: 18px
}
#slide_desc {
	Z-INDEX: 50; POSITION: absolute; WIDTH: 940px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 100px; COLOR: #000; OVERFLOW: hidden; TOP: 290px
}
.titles {
	POSITION: absolute; PADDING-BOTTOM: 30px; PADDING-LEFT: 30px; WIDTH: 675px; PADDING-RIGHT: 30px; BACKGROUND: url(/themes/webcbm/images/titles_grad.jpg) #ffcc00 repeat-x; HEIGHT: 30px; OVERFLOW: hidden; PADDING-TOP: 30px; LEFT: 0px
}
.titles H3 {
	LINE-HEIGHT: 0.5em; MARGIN-BOTTOM: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 18px
}
.proj_cat H3 {
	LINE-HEIGHT: 0.5em; MARGIN-BOTTOM: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 18px
}
.titles H3 {
	FONT-SIZE: 19px
}
.proj_cat {
	POSITION: absolute; PADDING-BOTTOM: 30px; PADDING-LEFT: 30px; WIDTH: 145px; PADDING-RIGHT: 30px; BACKGROUND: url(/themes/webcbm/images/cats_grad.jpg) #000 repeat-x; HEIGHT: 30px; COLOR: #ccc; RIGHT: 0px; PADDING-TOP: 30px
}
.proj_cat H3 {
	COLOR: #ffcc00
}
.for_slider {
	OVERFLOW: hidden; BORDER-TOP: #e6e6e6 1px solid
}
.desc {
	DISPLAY: none
}
.breadcrumbs {
	POSITION: absolute; COLOR: #999; FONT-SIZE: 10px; TOP: -35px; RIGHT: 0px
}
.breadcrumbs A {
	COLOR: #999; TEXT-DECORATION: none
}
.breadcrumbs A:hover {
	COLOR: #666; TEXT-DECORATION: underline
}
.feat_projects {
	POSITION: relative; OVERFLOW: hidden
}
.testimonials {
	POSITION: relative; OVERFLOW: hidden
}
.feat_projects {
	BACKGROUND: url(/themes/webcbm/images/hr.gif) repeat-x 50% bottom
}
.feat_projects UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 96px; PADDING-TOP: 0px
}
.testimonials UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 96px; PADDING-TOP: 0px
}
.feat_projects UL LI {
	POSITION: relative; MARGIN: 0px 10px 7px 0px; WIDTH: 84px; FLOAT: left; HEIGHT: 84px; OVERFLOW: hidden
}
.feat_projects UL LI A IMG {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BACKGROUND: #fff; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 1px
}
.feat_projects UL LI A:hover IMG {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
.testimonials UL LI {
	MARGIN-BOTTOM: 7px
}
.testimonials UL LI IMG {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 10px 10px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BACKGROUND: #fff; FLOAT: right; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 1px
}
.testimonials IMG {
	MAX-WIDTH: 100px; MAX-HEIGHT: 100px
}
#port_filter {
	POSITION: relative; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 20px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 11px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#port_filter LI {
	FLOAT: left
}
#port_filter LI A {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 13px; PADDING-RIGHT: 13px; DISPLAY: block; COLOR: #333; TEXT-DECORATION: none; PADDING-TOP: 2px
}
#port_filter LI A:hover {
	BACKGROUND-COLOR: #000; COLOR: #fff
}
#port_filter LI.active A {
	BACKGROUND-COLOR: #000; COLOR: #fff
}
.portfolio_holder {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.portfolio_holder LI {
	POSITION: relative; LINE-HEIGHT: 0px; MARGIN: 10px 40px 20px 0px; WIDTH: 205px; FLOAT: left; OVERFLOW: hidden
}
.portfolio_holder LI.last {
	MARGIN-RIGHT: 0px
}
.portfolio_holder LI A IMG {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BACKGROUND: #fff; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 1px
}
.portfolio_holder LI A:hover IMG {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
.captions {
	BORDER-BOTTOM: #e6e6e6 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #e6e6e6 1px solid; PADDING-BOTTOM: 8px; LINE-HEIGHT: 1.2em; MARGIN-TOP: 6px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(/themes/webcbm/images/caption.jpg) #fff repeat-x 50% top; COLOR: #666; FONT-SIZE: 12px; BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid; PADDING-TOP: 8px
}
.captions A {
	COLOR: #666; TEXT-DECORATION: none
}
.captions A:hover {
	COLOR: #000; TEXT-DECORATION: underline
}
.more_projects LI {
	BORDER-BOTTOM: #e6e6e6 1px solid; PADDING-BOTTOM: 4px; LINE-HEIGHT: 1.6em; MARGIN-BOTTOM: 8px; FONT-SIZE: 11px
}
UL.pagination {
	POSITION: relative; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 10px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.pagination LI {
	FLOAT: left; MARGIN-RIGHT: 5px
}
.pagination LI A {
	PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #ddd; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: block; COLOR: #666; FONT-SIZE: 11px; TEXT-DECORATION: none; PADDING-TOP: 1px
}
.pagination LI A:hover {
	BACKGROUND-COLOR: #555; COLOR: #fff
}
.pagination LI.currentPage {
	PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #555; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; COLOR: #fff; FONT-SIZE: 11px; PADDING-TOP: 1px
}
LABEL {
	COLOR: #666; MARGIN-LEFT: 10px; FONT-SIZE: 14px
}
INPUT {
	WIDTH: 340px
}
TEXTAREA {
	WIDTH: 430px; HEIGHT: 180px
}
INPUT {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f4f4f4; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #333; FONT-SIZE: 14px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 10px
}
TEXTAREA {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f4f4f4; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #333; FONT-SIZE: 14px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 10px
}
INPUT:hover {
	BACKGROUND-COLOR: #fff
}
TEXTAREA:hover {
	BACKGROUND-COLOR: #fff
}
INPUT:focus {
	BACKGROUND-COLOR: #fff
}
TEXTAREA:focus {
	BACKGROUND-COLOR: #fff
}
.submit INPUT {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 8px; BACKGROUND-COLOR: #ddd; PADDING-LEFT: 10px; WIDTH: auto; PADDING-RIGHT: 10px; COLOR: #666; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 8px
}
.submit INPUT:hover {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND-COLOR: #555; COLOR: #fff; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#subscribe_form .subs_submit INPUT {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #ddd; PADDING-LEFT: 8px; WIDTH: auto; PADDING-RIGHT: 8px; COLOR: #666; FONT-SIZE: 11px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 4px
}
#subscribe_form INPUT {
	BORDER-BOTTOM: #e1e3e5 1px solid; BORDER-LEFT: #e1e3e5 1px solid; PADDING-BOTTOM: 6px; BACKGROUND-COLOR: #f4f4f4; MARGIN: 0px; PADDING-LEFT: 6px; WIDTH: 191px; PADDING-RIGHT: 6px; COLOR: #999; FONT-SIZE: 12px; BORDER-TOP: #e1e3e5 1px solid; BORDER-RIGHT: #e1e3e5 1px solid; PADDING-TOP: 6px
}
#subscribe_form INPUT:hover {
	BACKGROUND: #fff; COLOR: #333
}
#subscribe_form INPUT:focus {
	BACKGROUND: #fff; COLOR: #333
}
#subscribe_form .subs_submit INPUT:hover {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND-COLOR: #555; COLOR: #fff; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.error {
	BORDER-BOTTOM: #ffcc33 1px solid; BORDER-LEFT: #ffcc33 1px solid; BORDER-TOP: #ffcc33 1px solid; BORDER-RIGHT: #ffcc33 1px solid
}
#mail_success {
	DISPLAY: none
}
#mail_fail {
	DISPLAY: none
}
.sidebar H2 {
	MARGIN-BOTTOM: 0px; COLOR: #666
}
.sidebar H2.text_widget {
	MARGIN-BOTTOM: 6px
}
.sidebar UL.list_widget A {
	BORDER-BOTTOM: #e6e6e6 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 15px; PADDING-RIGHT: 10px; DISPLAY: block; COLOR: #999; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.sidebar UL.list_widget {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.sidebar UL.more_projects {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.sidebar UL.list_widget A:hover {
	BACKGROUND-COLOR: #f0f0f0; COLOR: #333; TEXT-DECORATION: none
}
.list A:hover {
	BACKGROUND-COLOR: #f0f0f0; COLOR: #333; TEXT-DECORATION: none
}
.sidebar UL.list_widget A.active_page {
	BORDER-LEFT: #ffcc00 1px solid; COLOR: #333
}
.footer {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #000; COLOR: #fff; PADDING-TOP: 20px
}
.footer A {
	COLOR: #ccc; TEXT-DECORATION: none
}
.footer A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
.footer_nav {
	WIDTH: 500px; FLOAT: left; COLOR: #aaa; FONT-SIZE: 11px
}
.footer_nav UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 11px; PADDING-TOP: 0px
}
.footer_nav UL LI {
	LINE-HEIGHT: 1em; MARGIN: 0px 5px; FLOAT: left
}
.footer_nav UL LI.first {
	MARGIN-LEFT: 0px
}
.footer_nav UL LI.last {
	MARGIN-RIGHT: 0px
}
.footer_nav UL LI A {
	PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #999; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.footer_nav UL LI A:hover {
	BORDER-BOTTOM: #666 1px solid; COLOR: #ddd; TEXT-DECORATION: none
}
.footer_nav UL LI A.current {
	BORDER-BOTTOM: #ffcc00 1px solid; COLOR: #fff; TEXT-DECORATION: none
}
.notes {
	TEXT-ALIGN: right; FLOAT: right; COLOR: #aaa; FONT-SIZE: 11px
}
.social {
	POSITION: relative; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; FLOAT: right; OVERFLOW: hidden; PADDING-TOP: 0px
}
.social LI {
	FLOAT: left; MARGIN-RIGHT: 4px
}
.social LI A:hover IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
BR.clearf {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px; PADDING-TOP: 0px
}
.list {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.linklist {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.olist {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.list LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; BACKGROUND: url(/themes/webcbm/images/bullet_h.png) no-repeat left 9px; MARGIN-LEFT: 2px; PADDING-TOP: 0px
}
.linklist A {
	BORDER-BOTTOM: #e6e6e6 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 15px; PADDING-RIGHT: 10px; DISPLAY: block; COLOR: #666; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.linklist A:hover {
	BACKGROUND-COLOR: #f0f0f0; COLOR: #333; TEXT-DECORATION: none
}
.olist {
	LIST-STYLE-TYPE: decimal
}
.olist LI {
	MARGIN: 0px 0px 0px 22px
}
A.more {
	PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #ddd; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; COLOR: #666; FONT-SIZE: 11px; TEXT-DECORATION: none; PADDING-TOP: 4px
}
A.more:hover {
	BACKGROUND-COLOR: #555; COLOR: #fff
}
.borderify {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BACKGROUND: #fff; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 1px
}
.imgleft {
	MARGIN: 4px 15px 3px 0px; FLOAT: left
}
.imgright {
	MARGIN: 4px 0px 10px 15px; FLOAT: right
}
.margin20 {
	MARGIN-BOTTOM: 20px
}
.no_hr {
	PADDING-BOTTOM: 2px; MARGIN-BOTTOM: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
