{% extends "base.html" %}
{% block title %} 模板下载——{{blog.title}} {% endblock %}
{% block content%}
        <div class="primary"> 
            <div class="wrapper">
                <div class="breadcrumbs"><a href="index.html">Home</a> / Templates Download</div>
                <h1>Download The Templates</h1> 
                <p> 这里是WebCDM系统模板展示的地方。WebCDM虽然仅仅只是一套系统,但是却可以作为博客内容供给系统、下载资源供给系统、图片资源内容供给系统、RSS FEED资源内容供给系统等......再加上配合系统自带的采集插件以及多个网站的定时推送插件,基本上只要您想的到的WebCDM都可以完美的帮您实现。同时,对于我们来说系统的SEO优化程度以及相关模板与插件开发甚至比主系统更加重要!毕竟使用者的需求是千变万化的,而系统就算灵活性再大,仍旧对于很多使用者来说会有很多的不足之处,因此我们更需要在易用性以及适用性上做足功夫!因此,我们会根据使用者的反馈而不断的推出新的模板与插件。 </p> 
                <div class="box695">
               <ul id="port_filter"><li class="active"><a href="#">All</a></li>
             {%for tags in a_tags%}
                
                <li class=""><a href="#">{{tags}}</a></li>
                
               {%endfor%}</ul>
               <ul class="portfolio_holder">
                    {%for album in albums%}
                    <li class="{{album.Tag}}">
                        <a rel="imgurl" href="{{album.Coverbigg}}" title="{{album.albumname}}"><img src="{{album.Cover}}" alt="{{album.albumauthor}}" /></a>                     	
                        <div class="captions rounded"><a href="{{album.AlbumUrl}}" alt="请点击进入详细信息页面" target="_blank">{{album.albumname}}</a></div>                
                    </li>  
                    {% endfor %}                                                         
                </ul><!-- END PORTFOLIO HOLDER -->
                <br class="clearf" />
                <ul><li>{% if show_next %}<a href="/album/page/{{ pageindex|add:"1" }}"> Previous Page</a>{%endif%}</li><li>{% if show_prev %}<a href="/album/page/{{ pageindex|add:"-1" }}">Next Page</a>{%endif%}</li></ul></div>
                <div class="box450">
                    <h2>The Latest Upload Images</h2>            
                    <div class="feat_projects">
                        <ul>
                          {% for photo in latestphotos%}
                            <li><a rel="imgurl" href="{{photo.PhotoUrl}}" title="{{photo.title}}"><img src="{{photo.PhotoUrl_s}}" alt="{{photo.description}}" /></a></li>                         
                           {%endfor%}
                        </ul>
                    </div><!-- end feat projects -->
                </div><!-- end box450 -->
                <div class="box450 right_side">
                    <h2>The latest Comments</h2>
                    <div class="testimonials">
                        <ul>
                           {%for commtent in recent_comments%}
                            <li>
                                <img src="images/thumbnail/tut3.jpg" alt="tut3"/>
                                {{commtent.content}}<br class="clearf" />
                            </li>
                            {%endfor%}
                        </ul>
                    </div><!-- END TESTIMONIALS -->           
                </div> <!-- END BOX450 -->
             
                <div class="box205">
                    <h2>Making Templates</h2>
                    <p>如果您本身自己懂Python以及Html制作,那么是最好的。当然如果您也玩了多个类似的系统的话,那么您也可以从这里开始,去系统的学习模板的制作以及标签的概念。</p><p><a href="#" class="more">Read more</a></p> 
                </div>
                <div class="box205">
                    <h2>Study the CDM Tag</h2>
                    <p>如果您已经非常熟悉django模板,那么我建议您从这里开始会比较节省您的时间。这里主要介绍了WebCDM所独有的标签体系,通过了解它们,您就可以很快的上手使用了.</p><p><a href="#" class="more">Read more</a></p> 
                </div>
                <div class="box205">
                    <h2>Start WebCDM</h2>
                    <p>如果您是才刚接触这类的系统,或者仍旧对于如何进行内容营销或者怎么通过WebCDM来进行内容营销,那么就从这里开始吧......让我们一起开始一场改变我们人生的旅途.</p><p><a href="#" class="more">Read more</a></p> 
                </div>
                <div class="box205 right_side">
                    <h2>Other Downloads</h2>
                    <p>这里提供了各种各样的能帮助您更好的使用WebCDM的文档、工具与插件。当然如果您是一名开发者或者爱好者,那么一样这里会有您需要的各种资源.</p><p><a href="#" class="more">Read more</a></p> 
                </div>    
            </div><!-- END WRAPPER -->                    
        </div><!-- END PRIMARY -->       
       {% endblock %}
    </body>

</html>