{% extends "base.html" %}
{% block content %}
        <div class="primary">
            <div class="wrapper">
                <div class="breadcrumbs"><a href="index.html">Home</a> / <a href="/article">Article</a></div>
                <!--[if IE]>
                    <br class="clearf" />
                <![endif]-->

                <div class="main_content_right">
                    {%for sticky in cms.Sticky|Fetchorder:"-date"|Fetchcount:1%}
                    <h1>{{sticky.title}}</h1>
                    <p><a class="imgright" rel="imgurl" href="{{sticky.Images.0}}" title="{{sticky.title}}"><img class="borderify" src="{{sticky.Simages}}"/></a>{{sticky|excerpt_more}}</p>
                    {%endfor%}
                 </div><!-- END MAIN CONTENT -->
                     <br class="clearf" />
                    <div class="box450">
                        <h2><a href="/article/category/histroy" target="_blank">Histroy</a></h2>
                      <ul class="linklist">
                        {%for i in cms.Entry|Fetchcats:"histroy"|Fetchorder:"-date"|Fetchcount:5%}
                        <li><a href="{{i.link}}">{{i.title}}</a></li>
                        {%endfor%}
                        </ul>
                    </div>
                    <div class="box450 right_side">
                        <h2><a href="/article/category/getstart" target="_blank">Getting Started</a></h2>
                        <ul class="linklist">
                        {%for i in cms.Entry|Fetchcats:"getstart"|Fetchorder:"-date"|Fetchcount:5%}
                        <li><a href="{{i.link}}">{{i.title}}</a></li>
                        {%endfor%}
                        </ul>
                    </div>
                    <br class="clearf" />
                    <div class="box450">
                        <h2><a href="/article/category/api" target="_blank">API Reference</a></h2>
                        <ul class="linklist">
                        {%for i in cms.Entry|Fetchcats:"api"|Fetchorder:"-date"|Fetchcount:5%}
                        <li><a href="{{i.link}}">{{i.title}}</a></li>
                        {%endfor%}
                        </ul>
                    </div>
                    <div class="box450 right_side">
                        <h2><a href="/article/category/cont" target="_blank">Contributions</a></h2>
                        <ul class="linklist">
                        {%for i in cms.Entry|Fetchcats:"cont"|Fetchorder:"-date"|Fetchcount:5%}
                        <li><a href="{{i.link}}">{{i.title}}</a></li>
                        {%endfor%}
                        </ul>
                    </div>
                    <div class="box450">
                        <h2><a href="/article/category/use" target="_blank">Use experience</a></h2>
                        <ul class="linklist">
                        {%for i in cms.Entry|Fetchcats:"use"|Fetchorder:"-date"|Fetchcount:5%}
                        <li><a href="{{i.link}}">{{i.title}}</a></li>
                        {%endfor%}
                        </ul>
                    </div>
                    <div class="box450 right_side">
                        <h2><a href="/article/category/faq" target="_blank">FAQ</a></h2>
                        <ul class="linklist">
                        {%for i in cms.Entry|Fetchcats:"faq"|Fetchorder:"-date"|Fetchcount:5%}
                        <li><a href="{{i.link}}">{{i.title}}</a></li>
                        {%endfor%}
                        </ul>
                    </div>
                    <div class="box450">
                        <h2><a href="/article/category/general" target="_blank">General</a></h2>
                        <ul class="linklist">
                        {%for i in cms.Entry|Fetchcats:"general"|Fetchorder:"-date"|Fetchcount:5%}
                        <li><a href="{{i.link}}">{{i.title}}</a></li>
                        {%endfor%}
                        </ul>
                    </div>


            </div><!-- END WRAPPER -->
        </div><!-- END PRIMARY -->
         {% endblock %}
    </body>

</html>
