{% extends "base.html" %}
{% block content %}
        <div class="primary">
            <div class="full_width">
                <div class="breadcrumbs"><a href="index.html">Home</a> / Blog</div>
                <!--[if IE]>
                    <br class="clearf" />
                <![endif]-->
                <div class="main_content">
                  {% for entry in entries %}

			<div id="post-{{ entry.key }}">
				<h3><a href="{{ entry.Link_url }}" rel="bookmark" title="Permanent Link to {{ entry.title }}">{{ entry.title }}</a></h2>
				<div class="greytext">{{ entry.date|datetz:"F jS, Y " }} </div>

				<div class="box695">
					{{entry|excerpt_more:"(..More)"}}
				</div>

				<p class="postmetadata">Topics: {%for cate in entry.categories%} <a href="/category/{{cate.slug}}">{{cate.name}}</a> {%endfor%} | <a href="/{{entry.Link_url}}#comments">评论({{entry.commentcount}})</a></p>
			</div>

	 {% endfor %}
     <br class="clearf" />
                   <div class="navigation">
			{% if show_prev %}
			<div class="alignleft"><a href="/blog/page/{{ pageindex|add:"-1" }}">&laquo; 上一页</a></div>
			{% endif %}
			{% if show_next %}
			<div class="alignright"><a href="/blog/page/{{ pageindex|add:"1" }}">下一页 &raquo;</a></div>
			{% endif %}
		</div>

                </div>
                <!-- END MAIN CONTENT -->
               	{% include "bsidebar.html" %}
            </div><!-- END WRAPPER -->
        </div><!-- END PRIMARY -->
       {% endblock %}
