{% extends "base.html" %}
{% block content %}
        <div class="primary"> 
            <div class="wrapper">
                <div class="breadcrumbs"><a href="index.html">Home</a> / Contact</div> 
                <!--[if IE]>
                    <br class="clearf" />
                <![endif]-->                
                <div class="main_content">
                    <h1>Contact Us</h1> 
                    <p>E-mail us your question and a ChinaCDM representatve will respond within one business day.</p> 
                    <h3 class="no_hr">Send us a note</h3><br />
                                        <form  action="http://saurabhsharma.net/themes/maxx/default/contact.php" method="post" id="commentform">
                        <p><input class="" id="cname" name="name" value="" /><label for="cname">Name*</label></p>
                        <p><input id="cemail" name="email" class="" value="" /><label for="cemail">Email*</label></p>
                        <p><input id="curl" name="url" class="" value="" /><label for="curl">URL</label></p>
                        <p><label for="ccomment">Message*</label></p>
                        <p><textarea name="comment" rows="5" cols="8" class="" id="ccomment" ></textarea></p>
                        <p class="submit"><input name="submit" type="submit" id="submit" tabindex="5" value="Send Message" /></p>
                    </form>
                    <div id="mail_success">
                        <h3 class="no_hr">Thank You!</h3>
                        <p>Your message has been sent. We will get back to you very soon</p>
                    </div>  
                </div><!-- END MAIN CONTENT -->
                <div class="sidebar">
                    <h2 class="text_widget">Contact Details</h2>
                    <p> Gtalk:Alexliyu2012@Gmail.Com<br />
                     QQ:939567050@QQ.Com<br />
                      phone: +86 158.8027.8887<br />
                    email: <a href="mailto:alexliyu2012@gmail.com">Email Me</a> .</p>  
                  <br class="margin20" />
                    <h2 class="text_widget">Helpline</h2>
                    <p>f you need help check out our <a href="/Support">online support resources.</a></p>
                    <p>If you have purchased Enterprise Support, please call me for Support.</p>
                    <p>.</p>                                
                </div><!-- END SIDEBAR -->
            </div><!-- END WRAPPER -->                       
        </div><!-- END PRIMARY -->       
       
    </body>
{% endblock  %}
</html>