{% extends "base.html" %}
{% block content%}
        <div class="primary">
            <div class="full_width">
                <div class="breadcrumbs"><a href="index.html">Home</a>/ Contact</div>
                <!--[if IE]>
                    <br class="clearf" />
                <![endif]-->

                <div class="full_width">
                    <h1>{{value.name}}</h1>
                    <p>{{value.value}}</p> <br class="clearf" />
                  <br class="clearf" />
                </div><!-- END MAIN CONTENT -->

            </div><!-- END WRAPPER -->
        </div><!-- END PRIMARY -->
         {% endblock %}
