{% extends "base.html" %}
{% block content%}       
        <div class="primary"> 
            <div class="full_width">
                <div class="breadcrumbs"><a href="index.html">Home</a>/ Contact</div>
                <!--[if IE]>
                    <br class="clearf" />
                <![endif]-->               
                   
               
                    <h2>{{value.name}}</h2> 
                    <p>{{value.value}}</p> 
                
            </div><!-- END WRAPPER -->                       
        </div><!-- END PRIMARY -->       
         {% endblock %}