{% extends "base.html" %}
{% block title %} {{tag}} - {{blog.title}} {% endblock %}
{% block head_block %}
{% if entry %}
{%if entry.strtags%}
<meta name="Keywords" content="{{entry.strtags}}">
{%endif%}
{%if entry.excerpt%}
<meta name="Description" content="{{entry.excerpt}}">
{%endif%}
{% endif %}
{% endblock %}
{% block content%}
        
        <div class="primary"> 
            <div class="wrapper">
                <div class="breadcrumbs"><a href="index.html">Home</a> / {{tag}}</div>
                <h1>Portfolio and work profile</h1> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt. <a href="portfolio2.html">Visit Portfolio Style 2</a></p> 
                <ul class="portfolio_holder">
                    <li class="aerial fauna">
                        <a rel="imgurl" href="images/fullscreen/port1.jpg" title="Lorem ipsum dolor sit amet"><img src="images/thumbnail/port1.jpg" alt="item1" /></a>                    	
                        <div class="captions rounded"><a href="#">Image Caption1</a></div>                
                    </li>
                    <li class="reptiles nature camouflage">
                        <a rel="imgurl" href="images/fullscreen/port2.jpg" title="Lorem ipsum dolor sit amet"><img src="images/thumbnail/port2.jpg" alt="item2" /></a>                     	
                        <div class="captions rounded"><a href="#">Image Caption2</a></div>                
                    </li>
                    <li class="fauna aerial">
                        <a rel="imgurl" href="images/fullscreen/port3.jpg" title="Lorem ipsum dolor sit amet"><img src="images/thumbnail/port3.jpg" alt="item3" /></a>                     	
                        <div class="captions rounded"><a href="#">Image Caption3</a></div>                
                    </li>
                    <li class="reptiles aerial fauna last">
                        <a rel="imgurl" href="images/fullscreen/port4.jpg" title="Lorem ipsum dolor sit amet"><img src="images/thumbnail/port4.jpg" alt="item4" /></a>                     	
                        <div class="captions rounded"><a href="#">Image Caption4</a></div>                
                    </li>   
                    <li class="nature camouflage aerial">
                        <a rel="imgurl" href="images/fullscreen/port5.jpg" title="Lorem ipsum dolor sit amet"><img src="images/thumbnail/port5.jpg" alt="item5" /></a>                      	
                        <div class="captions rounded"><a href="#">Image Caption5</a></div>                
                    </li>
                    <li class="fauna reptiles">
                        <a rel="imgurl" href="images/fullscreen/port6.jpg" title="Lorem ipsum dolor sit amet"><img src="images/thumbnail/port6.jpg" alt="item6" /></a>                      	
                        <div class="captions rounded"><a href="#">Image Caption6</a></div>                
                    </li>
                    <li class="nature aerial">
                        <a rel="imgurl" href="images/fullscreen/port7.jpg" title="Lorem ipsum dolor sit amet"><img src="images/thumbnail/port7.jpg" alt="item7" /></a>                     	
                        <div class="captions rounded"><a href="#">Image Caption7</a></div>                
                    </li>
                    <li class="reptiles fauna camouflage last">
                        <a rel="imgurl" href="images/fullscreen/port8.jpg" title="Lorem ipsum dolor sit amet"><img src="images/thumbnail/port8.jpg" alt="item8" /></a>                     	
                        <div class="captions rounded"><a href="#">Image Caption8</a></div>                
                    </li>                                                                 
                </ul><!-- END PORTFOLIO HOLDER -->
                <br class="clearf" />
                <div class="box450">
                    <h2>Misc or Special Projects</h2>            
                    <div class="feat_projects">
                        <ul>
                            <li><a rel="imgurl" href="images/fullscreen/port7.jpg" title="Lorem ipsum dolor sit amet"><img src="images/thumbnail/cham80.jpg" alt="feat1" /></a></li>
                            <li><a rel="imgurl" href="images/fullscreen/port1.jpg" title="Lorem ipsum dolor sit amet"><img src="images/thumbnail/insect80.jpg" alt="feat2" /></a></li>
                            <li><a rel="imgurl" href="images/fullscreen/parrot.jpg" title="Lorem ipsum dolor sit amet"><img src="images/thumbnail/parrot80.jpg" alt="feat3" /></a></li>
                            <li><a rel="imgurl" href="images/fullscreen/port3.jpg" title="Lorem ipsum dolor sit amet"><img src="images/thumbnail/seagull80.jpg" alt="feat4" /></a></li>
                            <li><a rel="imgurl" href="images/fullscreen/port2.jpg" title="Lorem ipsum dolor sit amet"><img src="images/thumbnail/pearl80.jpg" alt="feat5" /></a></li> 
                            <li><a rel="imgurl" href="images/fullscreen/port4.jpg" title="Lorem ipsum dolor sit amet"><img src="images/thumbnail/bird80.jpg" alt="feat5" /></a></li>                                         
                        </ul>
                    </div><!-- end feat projects -->
                </div><!-- end box450 -->
                <div class="box450 right_side">
                    <h2>Educational Articles &amp; Tutorial Series</h2>
                    <div class="testimonials">
                        <ul>
                            <li>
                                <img src="images/thumbnail/tut1.jpg" alt="tut1"/>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br class="clearf" />
                            </li>
                            <li>
                                <img src="images/thumbnail/tut2.jpg" alt="tut2"/>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br class="clearf" />
                            </li>
                            <li>
                                <img src="images/thumbnail/tut3.jpg" alt="tut3"/>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br class="clearf" />
                            </li>
                        </ul>
                    </div><!-- END TESTIMONIALS -->           
                </div> <!-- END BOX450 -->
                <br class="clearf" />
                <div class="box205">
                    <h2>Work Style</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p><p><a href="#" class="more">Read more</a></p> 
                </div>
                <div class="box205">
                    <h2>Specializations</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p><p><a href="#" class="more">Read more</a></p> 
                </div>
                <div class="box205">
                    <h2>Contests</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p><p><a href="#" class="more">Read more</a></p> 
                </div>
                <div class="box205 right_side">
                    <h2>Non-Profit</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p><p><a href="#" class="more">Read more</a></p> 
                </div>    
            </div><!-- END WRAPPER -->                    
        </div><!-- END PRIMARY -->       
      
    </body>

</html>