{% extends "base.html" %}
{% block head_block %}
<link rel="stylesheet" href="/static/styles/album.css" type="text/css" media="screen" />
<script> 
			$(document).ready(function(){
				$("a[rel='imgurl']").colorbox({transition:"fade"});
				
			});
		</script>     
{% endblock %}
{% block content%}
{% if photos %}

{% for photo in photos %}



<div id="post-{{photo.key}}" style="width:300px;float:left;padding:5px;margin:5px;text-align:center; ">

  <li><a rel="imgurl" href="{{photo.PhotoUrl}}" title="{{photo.description}}"><img src="{{photo.PhotoUrl_s}}" /></a></li>
<br class="clear"/>
<a href="{{photo.Link_url}}" rel="bookmark" title="Permanent Link to {{photo.description}}">{{photo.name}}</a> <span class="date">{{photo.date|datetz:"F jS, Y"}}</span>
<div class="meta">view:{{photo.viewcount}} | {%if self.is_admin%}<a href="{{photo.Edit_url}}">Edit</a> | {%endif%}  <a href="{{photo.Link_url}}#comments">Comments</a></div>
</div>

{% endfor %}

<div class="ctop"></div>
<div class="box">
<div class="alignleft">{% if pager.next %}<a href="{{pager.next}}">&laquo; Older Entries</a>{%endif%}</div>
<div class="alignright">{% if pager.prev %}<a href="{{pager.prev}}">&laquo; Newer Entries</a>{%endif%}</div>
<div class="clear"></div></div>
<div class="cbottom"></div>
<div class="space"></div>

{% else %}
<div class="ctop"></div>
<div class="box">
<h2>Not Found</h2>
<p>Sorry, but you are looking for something that isn't here.</p>
</div>
<div class="clear"></div>
<div class="cbottom"></div>
<div class="space"></div>


{% endif %}

</div>
{% include "asidebar.html" %}
{% endblock %}


