{% extends "base.html" %}
{% block title %} {{category.name}} - {{blog.title}} {% endblock %}
{% block content%}
<div class="ctop"></div>
<div class="box">

<h2>{{category.name}}</h2>
<ul>
{% for entry in entries %}
<li> <a href="{{entry.Link_url}}">{{entry.title}}</a></li>
{% endfor %}
</ul>
</div>
<div class="ctop"></div>
<div class="box">
<div class="alignleft">{% if pager.next %}<a href="{{pager.next}}">&laquo; Older Entries</a>{%endif%}</div>
<div class="alignright">{% if pager.prev %}<a href="{{pager.prev}}">&laquo; Newer Entries</a>{%endif%}</div>
<div class="clear"></div></div>

<div class="cbottom"></div>
	<div class="space"></div>
</div> 
{% include "sidebar.html" %}
 {% endblock %}