<div class="sidebar">
<ul>
<li>

    <h2>Recent Comments</h2>
        <ul>
        {% for comment in recent_acomments %}
        <li><a href="{{comment.entry.Link_url}}#comment-{{comment.key.id}}">{{comment.author}}:{{comment.shortcontent}}...</a> </li>
        {%endfor%}
        </ul>
        </li>

<li>
 <h2>Categories</h2>
  <ul>
 	{%for cate in acategories%}
  <li>	<a href="{{cate.Link_url}}">{{cate.name}}({{cate.Acount}})</a></li>
 	{%endfor%}
 	</ul>

</li>

<li>
 <h2>Tags</h2>
  <ul>
 	{%for tag in alltags%}
  <a href="{{tag.Tagurl|urlencode}}"> {{tag.tag}} </a>&nbsp;
 	{%endfor%}
 	</ul>

</li>
<li>
<h2>Archive</h2>
<ul>
{%for archive in archives%}
<li><a href="{{archive.Link_url}}">{{archive.monthyear}} ({{archive.entrycount}})</a></li>
{%endfor%}

</ul>
</li>
</ul>
</div>