{% extends "wikibase.html" %}
{% block title %}Users{% endblock %}
{% block content %}
<div id="pb">
<h1>User Profiles</h1>

<form method="post">
<table class="userlist">
<tbody>
{% for user in users %}
<tr>
<td>
<a href="/users/{{ user.name|escape }}">
<img src="http://www.gravatar.com/avatar/{{ user.md5 }}?s=48&amp;r=x" class="avatar" width="48" height="48" alt="avatar"/>
</a>
</td>
<td>
<a href="/users/{{ user.name|escape }}">{{ user.name }}</a>
<br/>
<small>Since {{ user.joined|date:"d.m.Y" }}</small>
</td>
<td>
&nbsp;
</td>
</tr>
{% endfor %}
</tbody>
<tfoot>
<tr>
<td/>
<td>
<input type="text" name="email"/>
</td>
<td>
<input type="submit" value="Add"/>
</td>
</tr>
</tfoot>
</table>
</form>
</div>
{% endblock %}
