{% load i18n %}
{% extends "wikibase.html" %}
{% block title %}Settings — {{ settings.title }}{% endblock %}
{% block content %}
  <div id="pb" class="settings">
    <h1>{% trans "Wiki Setting" %}</h1>
    <form action="/w/settings" method="post">
      <table class="forms">
        <tbody>
          <tr>
            <th><label for="title">{% trans "Wiki title:" %}</label></th>
            <td><input class="text" type="text" name="title" id="title" value="{{ settings.title|escape }}"/></td>
            <td/>
          </tr>
          <tr>
            <th><label for="start_page">{% trans "Start page:" %}</label></th>
            <td><input class="text" type="text" name="start_page" id="start_page" value="{{ settings.start_page }}"/></td>
            <td><a class="int" href="/w/edit?page={{ settings.start_page|escape }}">{% trans "edit" %}</a></td>
          </tr>
          <tr>
            <th><label for="admin_email">{% trans "Admin email:" %}</label></th>
            <td><input class="text" type="text" name="admin_email" id="admin_email" value="{{ settings.admin_email }}"/></td>
            <td/>
          </tr>
          <tr>
            <th><label for="pread">{% trans "Publicly readable:" %}</label></th>
            <td><input type="checkbox" name="pread" id="pread" value="True"{% if settings.pread %} checked="checked"{% endif %}/></td>
            <td/>
          </tr>
          <tr>
            <th><label for="pwrite">{% trans "Publicly editable:" %}</label></th>
            <td><input type="checkbox" name="pwrite" id="pwrite" value="True"{% if settings.pwrite %} checked="checked"{% endif %}/></td>
            <td/>
          </tr>
          <tr>
            <th><label for="owner_meta">{% trans "Site verification code:" %}</label></th>
            <td><input class="text" type="text" name="owner_meta" id="owner_meta"{% if settings.owner_meta %} value="{{ settings.owner_meta|escape }}"{% endif %}/></td>
            <td/>
          </tr>
          <tr>
            <th><label for="footer_setting">{% trans "Page footer:" %}</label></th>
            <td><textarea class="text" name="footer" id="footer_setting" rows="5">{% if settings.footer %}{{ settings.footer|escape }}{% endif %}</textarea></td>
            <td/>
          </tr>
          <tr>
            <th><label for="iw_setting"><a href="/w/interwiki">{% trans "Interwikis" %}</a>:</label></th>
            <td><textarea class="text" name="interwiki" id="iw_setting" rows="5">{% if settings.interwiki %}{{ settings.interwiki|escape }}{% endif %}</textarea></td>
            <td/>
          </tr>
        </tbody>
        <tfoot>
          <tr class="okbtn">
            <td/>
            <td>
              <input type="submit" value="{% trans "Save" %}"/>
            </td>
          </tr>
        </tfoot>
      </table>
    </form>
  </div>
{% endblock %}
