{% load i18n %}
{% extends "wikibase.html" %}
{% block title %}{% trans "Recent changes" %}{% endblock %}
{% block content %}
<ul id="tabs">
<li class="active"><a href="/w/changes">{% trans "View" %}</a></li>
<li><a href="/w/changes.rss">RSS</a></li>
</ul>

<div id="pb" class="wtabs">
<h1>{% trans "Recent changes" %}</h1>

{%if changes %}
<table class="c">
<thead>
<tr>
<th>{% trans "Page" %}</th>
<th>{% trans "Edited on" %}</th>
<th>{% trans "Editor" %}</th>
</tr>
</thead>
<tbody>
{% for page in changes %}
<tr>
<td>
<a class="int{% if page.pread %} public{% endif %}" href="/wiki/{{ page.title }}">{{ page.title }}</a>
</td>
<td>
{{ page.updated|date:"d.m.y, H:i" }}
</td>
<td>
{{ page.author.wiki_user }}
</td>
</tr>
{% endfor %}
</tbody>
</table>

{% else %}
<p>{% trans "Nothing was changed yet." %}</p>
{% endif %}
</div>
{% endblock %}
