{% extends "wikibase.html" %}
{% block title %}User Info{% endblock %}
{% block content %}
<h1>User Profile: {{ queried_user.wiki_user.nickname }}</h1>
<p>User Email: {{ queried_user.wiki_user.email }}</p>
<p>User Picture: </p><img src="/getphoto/{{ queried_user.wiki_user.email }}">
<p>Articles By {{ queried_user.wiki_user.nickname }}</p>
<ul>
{% for article_title in articles %}
<li><a href="/view/{{ article_title }}">{{ article_title }}</a></li>
{% endfor %}
</ul>
{% if titles %}
<p><a href="{{ queried_user.user_feed }}">Recent User Blogs:</a></p>
{% for title in titles %}
{{ title }}<br>
{% endfor %}
{% endif %}
{% endblock %}
